- require 'securerandom'

-# TODO: allow deletion of Codes
-# TODO: show recent transactions

- content_for :head do
  = stylesheet '/css/admin.css'
- content_for :title do
  Admin Panel

.row-fluid
  .span4.offset2.well
    .row-fluid
      %h3.span12 Unallocated Balance
    .row-fluid
      .span12.balance= "#{Code.unallocated} &#3647;"
    .row-fluid
      %h3.span12 Receiving Addresses
    - Code.rpc.getaddressesbyaccount('unallocated').each do |address|
      .row-fluid
        .span12= address
    .row-fluid
      .span12
        %form.form-inline{:method=>'post'}
          %button.btn.btn-primary{:name=>'new_address'} Generate New Address
  .span4.well
    .row-fluid
      %h3.span12 Codes
    - Code.each do |code|
      .row-fluid
        .span8= code
        .span4= "#{code.amount} &#3647;"
    .row-fluid
      .span12
        %form.form-inline{:method=>'post'}
          %input{:type=>'text',:name=>'amount',:placeholder=>'Amount'}
          %button.btn.btn-primary{:name=>'new_code'} New Code
