- content_for :head do
  = stylesheet '/css/index.css'
- content_for :title do
  Redeem Bitcards

.row-fluid
  .offset3.span6.well
    .row-fluid
      .span12
        = @message || "&nbsp;"
    .row-fluid
      .span12
        %span.challenge= @challenge || '_'*8
        —
        %span.response= @answer || '_'*8
        —
        %span.code= @secret || '_'*8
        %i.icon-arrow-right
        %span.amount= @amount || '_'*2+" \u0e3f"
        %i.icon-arrow-right
        %span.address= @address || '_'*34
    %form.form-inline{:method=>'post'}
      - (@hidden || []).each do |k|
        %input{:type=>'hidden',:name=>k,:value=>params[k]}
      %input{:type=>'text',:name=>@input.to_form,:placeholder=>@input.to_human}
      %button.btn.btn-info Go
