!!! 5
%head
  %title Bitcard
  -# jquery
  %script{:src=>'js/jquery-1.9.0.js'}
  -# bootstrap
  = stylesheet 'css/bootstrap.css'
  = stylesheet 'css/bootstrap-responsive.css'
  %script{:src=>'js/bootstrap.js'}
  -# local stylesheets
  = stylesheet 'css/template.css'
  = yield_content :head
%body
  .container-fluid
    .row-fluid.header
      .span2.offset1
        .logo
          %a{:href=>'/'}
            %img{:src=>'img/logo.png'}
      .span6
        .title
          %h1= yield_content :title
    = yield
