!!! 5
%head
  %title Bitcard
  = stylesheet 'css/bootstrap.css'
  -#= stylesheet 'css/bootstrap-responsive.css'
  = stylesheet 'css/template.css'
  %script{:src=>'js/jquery.js'}
  %script{:src=>'js/bootstrap.js'}
  = yield_content :head
%body
  .container-fluid
    .row-fluid.header
      .span3.offset1
        .logo
          %img{:src=>'img/logo.png'}
      .span6
        .title
          %h1= yield_content :title
    = yield
